*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; 
    background: #bbd7f6;
}
a:link{
    text-decoration: none;
}

p{
    color:black;
    font-size: 15px;
}
/*Header*/

header {
    display: flex;
    /*background: #B9BFFF;*/
    background: white;
    width: 100%;
    height: 10vh;
    margin: auto;
    align-items: center;


}

.logo, .nav_list, .contact_list{
    display: flex;
}

.nav{
    flex: 1;
}

.nav_list{
    justify-content: space-around;
    list-style: none;
}

.nav_item{
    font-size: 18px;
    color: black;
}

.contacts{
    flex: 0;
    justify-content: flex-end;
}

.contact_list{
    justify-content: space-around;
    list-style: none;
}

.contact_item{
    margin: 10px;
}


/*Main body*/

.introduction_content{
    padding-top: 50px;
    background: lavenderblush;
    height: 10vh;
    text-align: center;
    background-size: contain;
}

.introduction_title{
    font-size: 44px;
    font-weight: 500;

}

.Project_introduction{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Project_Images{
    text-align: center;
    font-size: 13px;
    color: white;
    display:grid;
    grid-row-gap: 50px;
    grid-template-columns: 50% 50%;
    padding-bottom: 200px;
}


/*Footer*/

.footer{
    font-size: 12px;
    margin: auto;
    width: 100%;
    background-color:white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}