*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; 
}

header {
    display: flex;
    background: lavender;
    width: 95%;
    height: 10;
    margin: auto;
    align-items: center;


}

.logo, .nav_list, .contact_list{
    display: flex;
}

.logo{

    flex: 1;

}

.nav{
    flex: 2;
}

.nav_list{
    justify-content: space-around;
    list-style: none;
}

.nav_item{
    font-size: 18px;
    text-decoration: none;
}

.contacts{
    flex: 0;
    justify-content: flex-end;
}

.contact_list{
    justify-content: space-around;
    list-style: none;
}

.contact_item{
    margin: 10px;
}